#instantclick-bar {
	background: black;
}

a:link, a:visited {
  color: black;
	text-decoration-skip: ink;
}

a.active {
	text-decoration: underline;
	font-weight: bold;
}

footer a:link, footer a:visited {
	color: black;
}

body {
	font-family: Overpass;
}

img {
	max-width: 100%;
	height: auto;
}

.smiley {
	display: block;
	font-size: 72px;
	text-align: center;
}

.pagetitle {
	font-size: 1.25em;
}

.nav {
	line-height: 1.5em;
	font-size: 1.15em;
}