.ui-tooltip {
	background:transparent;
	border:none;
	box-shadow: none;
  opacity: 1;
}

#instantclick-bar {
  background: gray;
}

a:link, a:visited {
  color: gray;
}

footer a:link, footer a:visited {
  color: lightgray;
}

body {
  font-family: Inconsolata;
  text-align: center;
}

main {
  text-align: left;
}

.list-inline {
  a:hover {
    text-decoration: none;
  }
	li {
		border-bottom: 3px solid transparent;
	}
	li.active {
	  border-bottom: 3px solid gray;
	}
  li:hover {
    border-bottom: 3px solid darkgray;
  }
}
