---
layout: default
---

<div class="content">
  {{ content }}
</div>

<div class="list-inline row">
  {% for project in site.projects %}
    <div class="col-6 col-sm-4 mb-3 pb-3">
        <a href="{{ project.url }}">
          {% if project.image %}
            {% if project.image != "IMAGE" %}

              {% assign image = project.image | remove: '/uploads/' | replace: '%20', ' ' %}
              {% img "{{ image }}" "magick:resize:480x360^" "magick:crop:480x360+0+0" %}<br>
              {% else %}
              <img src="http://placehold.it/480x360"><br>
            {% endif %}
          {% endif %}
          {{ project.title | escape }}<br>
          <span style="color: darkgray;">{{ project.date | date: "%B %Y" }}</span>
        </a>
    </div>
  {% endfor %}
</ul>
