---
layout: default
---

<div class="content">
  {{ content }}
</div>

<ul class="list-inline">
  {% for project in site.projects %}
    {% assign image = project.image | remove: '/uploads/' | replace: '%20', ' ' %}
    <li class="list-inline-item py-2">
        <a href="{{ project.url }}">
          {% img "{{ image }}" "magick:resize:250x250^" "magick:crop:250x250+0+0" %}<br>
          {{ project.title | escape }}<br>
          <span style="color: darkgray;">{{ project.date | date: "%B %Y" }}</span>
        </a>
    </li>
  {% endfor %}
</ul>
