---
layout: default
---

<dl class="list-unstyled">
  {% assign sorted = site.talks | reverse %}
  {% for talk in sorted %}
    <dt class="mt-2">
      <a data-toggle="collapse" href="#{{ talk.slug | escaped }}" aria-expanded="false" aria-controls="{{ talk.slug | escaped }}">{{ talk.title }}</a>
      <span class="ml-2" style="color: darkgray;">
        {{ talk.date | date: "%B %Y" }}
      </span>

    </dt>
    <dd class="collapse" id="{{ talk.slug | escaped }}">
      {{ talk.content }}
    </dd>
  {% endfor %}
</dl>
