---
layout: default
---

<dl class="list-unstyled">
{% for writing in site.writing reversed %}
  {% assign currentdate = writing.date | date: "%Y" %}
  {% if currentdate != date %}
    <strong id="y{{currentdate}}" style="color: darkgray;">{{ currentdate }}</strong>
    {% assign date = currentdate %}
  {% endif %}
    <dt class="mt-2">
      <a data-toggle="collapse" href="#{{ writing.slug | escaped }}" aria-expanded="false" aria-controls="{{ writing.slug | escaped }}">{{ writing.title }}</a>
      <span class="ml-2" style="color: darkgray;">
        <em><a href="{{ writing.link }}">{{ writing.publisher }}</a></em> &bull; {{ writing.date-display }}
      </span>
    </dt>
    <dd class="collapse" id="{{ writing.slug | escaped }}">
      <p>Tags: {{ writing.tags }}</p>
      <p>Content:<br>
        {{ writing.content }}</p>
    </dd>
{% endfor %}
</dl>
