---
layout: default
---

<ul class="list-unstyled">
{% for writing in site.writing reversed %}
  <li class="pt-1 pt-sm-1 row">
    {% if writing.publisher == "PUBLISHER" %}
      <span class="col-sm-12">
        <a href="{{ writing.url }}" style="text-decoration: underline;"><strong>{{ writing.title }}</strong></a>
        <span style="color: darkgray;"> / {{ writing.date | date: "%d %b %Y" }}</span>
      </span>
    {% else %}
      <span class="col-sm-12">
        <a style="text-decoration: underline;" href="{{ writing.link }}"><strong>{{ writing.title }}</strong></a>
        / <em>{{ writing.publisher }}</em>
        <span style="color: darkgray;"> / {{ writing.date | date: "%d %b %Y" }}</span>
        {{ writing.content }}
      </span>
    {% endif %}
  </li>
{% endfor %}
</ul>
